@font-face {
    font-family: 'Courier New';
    src: url('../assets/courier_new.ttf');
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    font-size: 30px;
    white-space: pre;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: .55em;
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem 0;
    text-align: center;
    white-space: pre;
    color: #0f0
}

.logo {
    width: 100%;
}

.logo img {
    max-width: 25%;
}

.author {
    font-family: 'Courier New', Courier, monospace;
    color: #fff
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container button {
    font-size: 1em;
    padding: 1rem;
    margin: 0.2rem 0;
    background-color: #333;
    color: #fff;
}

.button-container button:hover {
    background-color: #555;
}

.terminal {
    height: 100%;
    background: #000;
    margin: 1.5rem 1.5rem 0;
    padding: .5rem 1.25rem;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.terminal-line {
    display: block;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    color: #eee;
    font-size: .75em;
    line-height: 1.5;
}

.terminal-line:before {
    content: '>';
    font-weight: bold;
    margin-right: 0.5em;
    color: #555;
    display: inline-block;
    vertical-align: middle;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer {
    font-size: .75em;
    padding: .5rem 1.25rem;
    text-align: center;
}

.layout-tv body::-webkit-scrollbar {
    display: none;
}
