@font-face {
    font-family: 'Courier New';
    src: url('../assets/courier_new.ttf');
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    font-size: 30px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.container {
    position: absolute;
    padding: 0 1.5rem;
    height: 100%;
    width: 100%;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: flex-direction;
            flex-wrap: flex-direction;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-align-content: center;
            align-content: center;
}

.container > div {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.logo img {
    width: 25%;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 1.25rem 0;
}

.button-container button {
    font-size: 1em;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.button-container button:hover {
    background-color: #555;
}

#terminal {
    background: #000;
    height: 100%;
    padding: .5rem 1.25rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.terminal-line {
    display: block;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    color: #eee;
    font-size: .75em;
    line-height: 1.5;
}

.terminal-line:before {
    content: '>';
    font-weight: bold;
    margin-right: 0.5rem;
    color: #555;
    display: inline-block;
    vertical-align: middle;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin: 1.25rem 0;
}

.footer {
    font-size: .75em;
    text-align: center;
}